{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Genres</h1>
    <br/><br/>
    <hr/>
    {% for unGenre in lesGenres %}
        <h4><a href="{{ path('infoGenre', {'id': unGenre.id}) }}" role="button" class="btn btn-primary"> {{ unGenre.libelle }}</a></h4>
        <hr/>
    {% endfor %}
</div>

{% endblock %}