{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="text-center">
    <br/><br/>
    <img src="images/logo.gif" alt="Image acceuil" />
    <br/><br/><br/><br/>
    <h2>Tu regardes quoi en ce moment ? Pas de spoil, je ne suis pas à jour... Promis, après cet épisode, j'arrête.</h2>
    <br/><br/><br/>
</div>

{% endblock %}
