{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="text-center">
    <img src="images/img1.jpg" alt="Image acceuil" />
    <br/><br/>
    <p>Tu regardes quoi en ce moment ? Pas de spoil, je ne suis pas à jour... Promis, après cet épisode, j'arrête.</p>
</div>

{% endblock %}
