{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="text-center">
    <h1>News</h1>
    <p>Aujourd'hui, {{ "now"|date("d/m/Y") }}
    <br/><br/>
    <h1>Serie la plus récente</h1>
    <ul> {% for laSerie in lesSeries %}
        <li>{{ laSerie.titre }}</li>
        <li><img src='images\{{ laSerie.image }}' alt='Mario Kart Tour' /></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}