{% extends 'base.html.twig' %}

{% block title %}Hello AdminSerieController!{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Editer la série: {{laSerie.titre}}</h1>
    <br/><br/>
    <hr/>
</div>
<div class="example-wrapper">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-warning">Sauvegarder</button>
    {{ form_end(form) }}
</div>
{% endblock %}