{% extends 'base.html.twig' %}

{% block title %}Hello AdminSerieController!{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Gérer les Series</h1>
    <br/><br/>
    <hr/>
    <a href="{{ path('add_serie') }}">Ajouter une Série</a>
    <br/>
    <hr/>
    {% for laSerie in lesSeries %}
        <h5>{{ laSerie.titre }}</h5>
        <a href="{{ path('edit_serie', {'id': laSerie.id}) }}">Edit</a>
        <a href="{{ path('delete_serie', {'id': laSerie.id}) }}">Delete</a>
        <br/><br/>
        <hr/>
    {% endfor %}
</div>
{% endblock %}
